<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
  <body class="estilo-login">

    <section class="form-login">
      <h5>Crea tu usuario</h5>
      <form action="https://formspree.io/f/xyyrqywr" method="POST" class="formulario2">
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario" id="usuario">
        <input  class="controls" type="email" name="email" value="" placeholder="E-mail" id="email">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña" id="contraseña">
        <label for="foto">Subí tu foto</label>
        <input class="controls" type="file" name="foto" id="foto">
        <select class="controls" name="frecuencia">
          <option>Con qué frecuencia viajás</option>
          <option>Alta</option>
          <option>Media</option>
          <option>Baja</option>
        </select>
        <div class="destino">
          <p class="radio">Destinos de preferencia</p>
          <input type="radio" name="destino" value="1">Nacional
          <input type="radio" name="destino" value="2">Internacional
        </div>
        <input class="buttons" type="submit" value="Ingresar">
        <a class="b-inicio" href="{{ url_for('index') }}">Inicio</a>
      </form>
    
      

    </section>
    <script src="{{ url_for('static', filename='JS/scriptslogin.js') }}"></script>
  </body>
</html>